header{
    padding-top: 4%;
    padding-bottom: 2%;
    background-color: #36648B;
    color: white;
    font-family: 'Russo One', sans-serif;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    position: relative;
}

body{
    background-color:#FFE1FF;
}

.b-container{
    padding: 0 10% 0 10%;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 15%;
}
p{
    font-family: 'Josefin Slab', serif;
}
.bs,.bm{
    color: white;
    text-decoration: none;
}
.link{
    color: white;
}
.link:hover
{
    text-decoration: none;
}
.border{
    border: solid skyblue;
    border-width: 0.5px;
}
.footer-container{
    color: #FFC125;
    /*background-color: #EDEDED;*/
}
.foot{
    font-family: 'Acme', sans-serif;
}
