header{
    padding-top: 4%;
    padding-bottom: 2%;
    width: 100%;
    background-color: #36648B;
    color: white;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    position: relative;
}

body{
    background-color:dimgray;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.b-container{
    text-align: center;
    margin-top: 20%;
    margin-bottom: 20%;
}

.bs,.bm{
    color: white;
    text-decoration: none;
}
.link{
    color: white;
}
.link:hover
{
    color:lightgrey;
    text-decoration: none;
}
.border{
    border: solid skyblue;
    border-width: 0.5px;
}
.footer-container{
    color: #FFC125;
    /*background-color: #EDEDED;*/
}
.foot{
    font-family: 'Acme', sans-serif;
}
